<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		
		<!--div class="container-fluid p-0"-->
		            <footer class="text-center text-lg-start text-white bg-dark">
		
		              <!--Redes sociales-->
		              <section class="d-flex justify-content-between p-3 bg-primary">
		                <div class="me-5">
		                  <h5 class="mb-0">¡Síguenos en nuestras redes sociales para estar al tanto de lo último!</h5>
		                </div>
		
		                <div>
		                  <a href="https://www.facebook.com/" target="_blank" class="text-white me-4"><i class="bi bi-facebook" style="font-size: 20px;"></i></a>
		                  <a href="https://twitter.com/" target="_blank" class="text-white me-4"><i class="bi bi-twitter-x" style="font-size: 20px;"></i></a>
		                  <a href="https://www.tiktok.com/" target="_blank" class="text-white me-4"><i class="bi bi-tiktok" style="font-size: 20px;"></i></a>
		                  <a href="https://www.instagram.com/" target="_blank" class="text-white me-4"><i class="bi bi-instagram" style="font-size: 20px;"></i></a>
		                  <a href="https://es.linkedin.com/" target="_blank" class="text-white me-4"><i class="bi bi-linkedin" style="font-size: 20px;"></i></a>
		                  <a href="https://www.youtube.com/" target="_blank" class="text-white me-4"><i class="bi bi-youtube" style="font-size: 20px;"></i></a>
		                </div>
		              </section>
		
		              <!--Secciones en columna-->
		              <section>
		                <div class="container text-center text-md-start mt-4">
		                  <div class="row mt-3">
		
		                    <!--1ª columna-->
		                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-3">
		                      <h4 class="text-uppercase fw-bold">Mangazo Verse</h4>
		                      <hr class="mb-4 mt-0 d-inline-block mx-auto bg-primary text-primary" style="width: 60px; height: 5px"/>
		                      <p>MANGAZO VERSE, ubicada en Bilbao, es una de las librerías especializadas en cómics y manga japonés y coreano más importantes de Europa, 
		                        donde se pueden encontrar los títulos de todas las mejores editoriales españolas.</p>
		                    </div>
		
		                    <!--2ª columna-->
		                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-3">
		                      <h4 class="text-uppercase fw-bold">Libros</h4>
		                      <hr class="mb-4 mt-0 d-inline-block mx-auto bg-primary text-primary" style="width: 60px; height: 5px"/>
		                      <p>Vendemos libros de todos los géneros, y además para todas las edades ¡La lectura está asegurada tanto para los más grandes 
		                        como para los más pequeños!</p>
		                    </div>
		
		                    <!--3ª columna-->
		                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-3">
		                      <h4 class="text-uppercase fw-bold">Sobre nosotros</h4>
		                      <hr class="mb-4 mt-0 d-inline-block mx-auto bg-primary text-primary" style="width: 60px; height: 5px"/>
		                      <p><a href="/quienesSomos" th:href="@{/quienesSomos}" class="text-white">Quiénes somos</a></p>
		                      <p><a href="/condicionesDeUso" th:href="@{/condicionesDeUso}" class="text-white">Condiciones de uso</a></p>
		                      <p><a href="/politicaDePrivacidad" th:href="@{/politicaDePrivacidad}" class="text-white">Política de privacidad</a></p>
		                    </div>
		
		                    <!--4ª columna-->
		                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3">
		                      <h4 class="text-uppercase fw-bold">Contacto</h4>
		                      <hr class="mb-4 mt-0 d-inline-block mx-auto bg-primary text-primary" style="width: 60px; height: 5px"/>
		                      <p><i class="bi bi-home mr-3"></i> C/ Monte Aldamiz 8.</p>
		                      <p><i class="fas fa-home mr-3"></i> 48001 - Bilbao, España.</p>
		                      <p><i class="fas fa-envelope mr-3"></i> info@mangazoverse.com</p>
		                      <p><i class="fas fa-phone mr-3"></i> + 34 719 221 959</p>
		                    </div>
		
		                  </div>
		                </div>
		              </section>
		
		              <!--Copyright-->
		              <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
		                © 2024 Copyright: <span class="fw-bold">MANGAZO VERSE</span>. Todos los derechos reservados.
		              </div>
		
		            </footer>
		          <!--/div-->
		
	</body>
</html>