<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<body>
		  
		  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-3">
		            <div class="container-fluid">
		              
		              <!--Logo-->
		              <div>
		                <a class="navbar-brand ps-3" href="/" th:href="@{/}">
							<img src="../img/logoMarca.png" th:src="@{/img/logoMarca.png}" alt="Logo de MANGAZO VERSE" style="width:50px;" class="rounded-pill">
						</a>
		              </div>
		  
		              <!--Botón menú desplegable (para dispositivos móviles)-->
		              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCliente" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		                <span class="navbar-toggler-icon"></span>
		              </button>
		  
		              <!--Opciones-->
		              <div class="collapse navbar-collapse" id="navbarCliente">
		                <ul class="navbar-nav me-auto">
		  
						  <li class="nav-item mx-3">
							<a class="nav-link" href="/login" th:href="@{/login}"><i class="bi bi-person-fill text-light" style="font-size: 25px;"></i> Usuario</a>
						  </li>
		  
		                  <li class="nav-item mx-3">
		                    <a class="nav-link" href="/seccionReemplazo" th:href="@{/seccionReemplazo}"><i class="bi bi-cart-fill" style="font-size: 25px; color: rgb(0, 183, 255);"></i> Cesta</a>
		                  </li>
		                  <li class="nav-item mx-3"> 
		                    <a class="nav-link" href="/seccionReemplazo" th:href="@{/seccionReemplazo}"><i class="bi bi-suit-heart-fill" style="font-size: 25px; color: rgb(246, 55, 12);"></i> Favoritos</a>
		                  </li>
						 </ul>
		  
		                  <!--Barra de búsqueda e icono de lupa-->
		                  <form class="d-flex col-lg-4 mx-3 py-2 form-inline" th:action="@{/catalogo}">
		                    <input type="text" class="form-control me-1" th:value="${palabraClave}" name="palabraClave" id="palabraClave" placeholder="Search">
		                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
		                  </form>
						  
						  <div class="nav-item mx-3">
						  	<a type="button" href="/catalogo" th:href="@{/catalogo}" id="botonCatalogo" class="btn btn-lg btn-primary"><i class="bi bi-shop"></i> Catálogo</a>
						  </div>
		          
		              </div>
		            </nav>
		
	</body>
</html>