<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		  
		  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-3">
		            <div class="container-fluid">
		              
		              <!--Logo-->
		              <div>
		                <a class="navbar-brand ps-3" href="/" th:href="@{/}">
							<img src="../img/logoMarca.png" th:src="@{/img/logoMarca.png}" alt="Logo de MANGAZO VERSE" style="width:50px;" class="rounded-pill">
						</a>
		              </div>
		  
		              <!--Botón menú desplegable (para dispositivos móviles)-->
		              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCliente" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		                <span class="navbar-toggler-icon"></span>
		              </button>
		  
		              <!--Opciones-->
		              <div class="collapse navbar-collapse" id="navbarCliente">
		                <ul class="navbar-nav me-auto">
		  
		  
		                  <!--Usuario (DROPDOWN)-->
		                  <li class="nav-item dropdown">
		                    <a class="nav-link dropdown-toggle ms-3" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		                      <i class="bi bi-person-fill text-light" style="font-size: 25px;"></i> Usuario
		                    </a>
		                    <ul class="dropdown-menu p-1">
		                      <li style="width: 400px;">
		                        <div class="container-fluid">
		                          <div class="row">
		                            <!--Dropdown header-->
		                            <div class="bg-primary pt-3 pb-2">
		                              <h4 class="text-white">&nbsp;INICIAR SESIÓN</h4>
		                            </div>
		                            <!--Dropdown body-->
		                            <div class="p-0">
		                              <form action="">
		                                <div class="m-4">
		                                  <label for="nombreUsuarioIni" class="form-label mb-1">Nombre de usuario</label>
		                                  <input type="text" class="form-control bg-secondary bg-opacity-25" id="emailIni" placeholder="Introduzca su nombre de usuario" name="nombreUsuarioIni">
		                                </div>
		                                <div class="mb-4 mx-4">
		                                  <label for="contrasenhaIni" class="form-label mb-1">Contraseña</label>
		                                  <input type="password" class="form-control bg-secondary bg-opacity-25" id="contrasenhaIni" placeholder="Introduzca su contraseña" name="contrasenhaIni">
		                                </div>
		                                <div class="w-100 d-flex justify-content-center bg-secondary pt-3">
		                                  <button type="submit" id="submitIni" class="w-75 btn btn-lg btn-primary">Iniciar sesión</button>
		                                </div>
		                              </form>
		                            </div>
		                            <!--Dropdown footer-->
		                            <div class="bg-secondary d-flex justify-content-center flex-column w-100 pb-3 border border-0">
		                              <div class="row justify-content-center">
		                                <h6 class="text-light text-center mt-3">¿No tienes una cuenta?</h6>
		                                <a type="button" href="/" th:href="@{/}" id="botonReg" class="btn btn-lg btn-dark w-75">Regístrate</a>
		                              </div>
		                            </div>
		                        </div>
		                      </li>
		                    </ul>
		                  </li>
		  
		                  <li class="nav-item mx-3">
		                    <a class="nav-link" href="/" th:href="@{/}"><i class="bi bi-cart-fill" style="font-size: 25px; color: rgb(0, 183, 255);"></i> Cesta</a>
		                  </li>
		                  <li class="nav-item mx-3"> 
		                    <a class="nav-link" href="/favoritos" th:href="@{/favoritos}"><i class="bi bi-suit-heart-fill" style="font-size: 25px; color: rgb(246, 55, 12);"></i> Favoritos</a>
		                  </li>
						  <li class="nav-item mx-3">
						     <a class="nav-link" href="/admin/listaClientes" th:href="@{/admin/listaClientes}"><i class="bi bi-people-fill text-info" style="font-size: 25px;"></i> Clientes</a>
						  </li>
						  <li class="nav-item mx-3"> 
						     <a class="nav-link" href="/admin/listaLibros" th:href="@{/admin/listaLibros}"><i class="bi bi-journal-text text-warning" style="font-size: 25px;"></i> Libros</a>
						  </li>
						  <li class="nav-item mx-3"> 
						     <a class="nav-link" href="/" th:href="@{/}"><i class="bi bi-graph-up-arrow text-success" style="font-size: 25px;"></i> Ventas</a>
						  </li>
						  <!--li class="nav-item mx-3">
						    <a type="button" href="/" th:href="@{/}" id="botonCerrarSesion" class="btn btn-lg btn-danger">Cerrar Sesión</a>
						  </li-->
		                </ul>
		  
		                  <!--Barra de búsqueda e icono de lupa-->
		                  <form class="d-flex col-lg-4 mx-3 py-2" th:action="@{/buscar}">
		                    <input type="text" class="form-control me-1" th:value="${palabraClave}" name="barraBusqueda" id="barraBusqueda" placeholder="Search">
		                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
		                  </form>
						  
						  <div class="nav-item mx-3">
						  	<a type="button" href="/catalogo" th:href="@{/catalogo}" id="botonCatalogo" class="btn btn-lg btn-primary"><i class="bi bi-shop"></i> Catálogo</a>
						  </div>
		          
		              </div>
		            </nav>
		
	</body>
</html>