<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MANGAZO VERSE [Admin] | Productos</title>

        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>

<!--HEADER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<header th:replace="~{fragmentos/header::header}"></header>

<!--ÍNDICE-------------------------------------------------------------------------------------------------------------------------------------------------->

		<nav th:replace="~{fragmentos/nav::nav}"></nav>

<!--CONTENIDO------------------------------------------------------------------------------------------------------------------------------------------------>

        <main class="d-flex flex-wrap">
            <div class="container-fluid py-2 px-5 mb-4 mt-2">
                <h1 class="display-3 fw-bold fst-italic" style="font-variant: small-caps;"><span class="text-info">L</span>ibros</h1>
            </div>

            <!--Columna izquierda>
            <div class="container pb-5 rounded-end-5 m-0" style="width: 12%; background-image: url(/img/fondoPagina.jpg);">
            </div-->

			<!--Contenido central-->
			            <div class="container-fluid mb-2 mt-4 pb-5 pt-3 px-4">
			
			              <div class="container-fluid">
			                <div class="row pb-4 px-5 d-flex flex-row">
			
								<!--Botón de agregar clientes-->
								<div class="container-fluid">
									<div class="row d-flex justify-content-between align-items-center">
								    	<div class="text-center w-50">
								        	<a type="button" href="/admin/agregarLibro" th:href="@{/admin/agregarLibro}" id="botonAgregarLibro" class="btn btn-lg mb-4 px-4 text-white" style="background-color: rgb(29, 29, 165);"><h1 class="bi bi-journal-plus m-0"></h1></a>
								        </div>
								        <div class="text-center w-50">
								            <a type="button" href="/admin/listaCategorias" th:href="@{/admin/listaCategorias}" id="botonCategorias" class="btn btn-lg mb-4 px-3 text-white ms-1 bg-dark"><i class="bi bi-tag-fill m-0"></i><i class="bi bi-bookmark-star-fill m-0"></i> Tipos y Categorías</a>
								        </div>
								    </div>
								 </div>
			
			                    <!--Tabla de clientes-->
			                    <div class="table-responsive">
			                        <table class="table table-condensed table-hover">
			                            <thead>
			                                <tr class="text-center table-info align-middle">
			                                    <th class="text-white rounded-start-3 border border-0 px-3" style="background-color: #369;"><h5 class="m-0">ID</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Título</h5></th>
												<th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Imagen</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Serie</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Editorial</h5></th>
												<th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Autor</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Tipo</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Categorías</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Cubierta</h5></th>
												<th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Público</h5></th>
												<th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Descripción</h5></th>
												<th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Número de páginas</h5></th>
												<th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Fecha de publicación</h5></th>
												<th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Precio</h5></th>
												<th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Stock</h5></th>
												<th colspan="2" class="border border-0" style="background-color: #369;"></th>
			                                    <th colspan="2" class="rounded-end-3 border border-0" style="background-color: #369;"></th>
			                                </tr>
			                            </thead>

			                            <tbody class="text-center align-center align-middle">
			                                <tr th:each="libro : ${listaLibros}">
			                                    <td th:text="@{${libro.idLibro}}" class="fw-bold"></td>
												<td th:text="${libro.titulo}"></td>
			                                    <td><img th:src="${libro.imagenPortada}" class="rounded-circle" style="width:75px; max-height: 50px;"></td>
			                                    <td th:text="${libro.serie}"></td>
			                                    <td th:text="${libro.editorial}"></td>
												<td th:text="${libro.autor}"></td>
			                                    <td th:text="${libro.tipo}"></td>
			                                    <td>
													<div th:each="categoria : ${libro.listadoCategorias}">
													<p th:text="${categoria.nombre}"></p>
													</div>
												</td>
			                                    <td th:text="${libro.cubierta.nombreCubierta}"></td>
												<td th:text="${libro.publico}"></td>
												<td th:text="${libro.descripcion}"></td>
												<td th:text="${libro.numPaginas}"></td>
												<td th:text="${libro.fechaPublicacion}"></td>
												<td th:text="${libro.precio+' €'}"></td>
												<td th:text="${libro.stock}"></td>
			                                    <td class="pe-1"><a type="button" href="" id="botonMirarFavoritos" class="btn btn-lg" style="background-color:rgb(246, 55, 12);;"><i class="bi bi-suit-heart-fill text-white"></i></a></td>
			                                    <td class="ps-1"><a type="button" href="" id="botonMirarVentas" class="btn btn-lg btn-success"><i class="bi bi-graph-up-arrow"></i></a></td>
			                                    <td class="pe-1"><a type="button" th:href="@{/admin/editarLibro/{id}(id=${libro.idLibro})}" id="botonEditarLibro" class="btn btn-lg btn-secondary"><i class="bi bi-gear-fill"></i></a></td>
			                                    <td class="ps-1"><a type="button" th:href="@{/admin/borrarLibro/{id}(id=${libro.idLibro})}" id="botonBorrarLibro" class="btn btn-lg btn-dark"><i class="bi bi-trash3-fill"></i></a></td>
			                                </tr> 
			                            </tbody>
			
			                            <tfoot>
			                            </tfoot>
			                        </table>
			                      </div>
			
			                </div>
			              </div>
			
			            </div>

            <!--Columna derecha>
            <div class="container pb-5 rounded-start-5 m-0" style="width: 12%; background-image: url(/img/fondoPagina.jpg);">
            </div-->
        </main>

<!--FOOTER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<footer th:replace="~{fragmentos/footer::footer}"></footer>          

    </body>
</html>