<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MANGAZO VERSE [Admin] | Clientes</title>

        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>

<!--HEADER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<header th:replace="~{fragmentos/header::header}"></header>

<!--ÍNDICE-------------------------------------------------------------------------------------------------------------------------------------------------->

		<div sec:authorize="hasRole('ROLE_ADMIN')">
            <nav th:replace="~{fragmentos/navAdmin::navAdmin}"></nav>
        </div>

<!--CONTENIDO----------------------------------------------------------------------------------------------------------------------------------------------->

        <main class="d-flex flex-wrap">
            <div class="container-fluid py-2 px-5 mb-4 mt-2">
                <h1 class="display-3 fw-bold fst-italic" style="font-variant: small-caps;"><span class="text-info">C</span>lientes</h1>
            </div>

            <!--Columna izquierda-->
            <div class="container pb-5 rounded-end-5 m-0" style="width: 12%; background-image: url(../img/fondoPagina.jpg);">
            </div>

			<!--Contenido central-->
			            <div class="container w-75 mb-2 mt-4 pb-5 pt-3 px-4">
			
			              <div class="container-fluid">
			                <div class="row pb-4 px-5 d-flex flex-row">
			
			                  <!--Botón de agregar clientes-->
			                  <div class="text-center">
			                    <a type="button" href="/admin/agregarCliente" th:href="@{/admin/agregarCliente}" id="botonAgregarUsuario" class="btn btn-lg mb-4 px-4 text-white" style="background-color: rgb(29, 29, 165);"><h1 class="bi bi-person-fill-add m-0"></h1></a>
			                  </div>
			
			                    <!--Tabla de clientes-->
			                    <div class="table-responsive">
			                        <table class="table table-condensed table-hover">
			                            <thead>
			                                <tr class="text-center table-info align-middle">
			                                    <th class="text-white rounded-start-3 border border-0 px-3" style="background-color: #369;"><h5 class="m-0">ID</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Foto de perfil</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Nombre</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Apellidos</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Correo</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Nombre de usuario</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Puntos Hon</h5></th>
			                                    <th colspan="2" class="border border-0" style="background-color: #369;"></th>
			                                    <th colspan="3" class="rounded-end-3 border border-0" style="background-color: #369;"></th>
			                                </tr>
			                            </thead>
			
			                            <tbody class="text-center align-center align-middle">
			                                <tr th:each="usuario : ${listaClientes}">
			                                    <td th:text="@{${usuario.idUsuario}}" class="fw-bold"></td>
			                                    <td><img th:src="${usuario.imagen}" class="rounded-circle" style="width:75px; max-height: 50px;"></td>
			                                    <td th:text="${usuario.nombre}"></td>
			                                    <td th:text="${usuario.apellidos}"></td>
			                                    <td th:text="${usuario.correo}"></td>
			                                    <td th:text="${usuario.username}"></td>
			                                    <td th:text="${usuario.numPuntosHon}"></td>
			                                    <td class="pe-1"><a type="button" href="" id="botonMirarFavoritos" class="btn btn-lg" style="background-color:rgb(246, 55, 12);;"><i class="bi bi-suit-heart-fill text-white"></i></a></td>
			                                    <td class="px-1"><a type="button" href="" id="botonMirarVentas" class="btn btn-lg btn-success"><i class="bi bi-graph-up-arrow"></i></a></td>
			                                    <!--td class="pe-1"><a type="button" th:href="@{/admin/editarCliente/{id}(id=${usuario.idUsuario})}" id="botonEditarUsuario" class="btn btn-lg btn-secondary"><i class="bi bi-gear-fill"></i></a></td-->
			                                    <td th:if="${!usuario.admin}" class="ps-1"><button type="button" data-bs-toggle="modal" data-bs-target="#modalBorrarCliente" th:data-id="${usuario.idUsuario}" id="botonBorrarUsuario" class="btn btn-lg btn-dark"><i class="bi bi-trash3-fill"></i></button></td>
												<td th:if="${usuario.admin}" class="ps-1"><button type="button" data-bs-toggle="modal" data-bs-target="#modalBorrarAdmin" id="botonBorrarAdmin" class="btn btn-lg btn-secondary" style="background-color: rgb(0, 40, 216);"><i class="bi bi-lightning-charge-fill"></i></button></td>
			                                </tr> 
			                            </tbody>
			
			                            <tfoot>
			                            </tfoot>
			                        </table>
			                      </div>
			
			                </div>
			              </div>
			
			            </div>

            <!--Columna derecha-->
            <div class="container pb-5 rounded-start-5 m-0" style="width: 12%; background-image: url(../img/fondoPagina.jpg);">
            </div>

			<!--MODAL BORRAR CLIENTE-->
			<div class="modal fade" id="modalBorrarCliente">
				<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header bg-info">
						<h1 class="m-0 bg-white p-2 rounded-4"><i class="bi bi-people-fill m-0" style="color: rgb(0, 94, 188);"></i></h1>
						<h4 class="modal-title text-white" style="text-indent: 10px;">BORRAR CLIENTE</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body py-4 px-3">
						<h5>¿Está seguro de que quiere borrar la cuenta de este cliente?</h5>
						<span style="color: red">Tenga en cuenta que será borrada definitivamente.</span>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer bg-secondary p-2 d-flex justify-content-around">
						<a type="button" id="confirmarBorrado" class="btn btn-info w-25">SÍ</a>
						<button type="button" class="btn btn-dark w-25" data-bs-dismiss="modal">NO</button>
					</div>

				</div>
				</div>
			</div>

			<!--MODAL BORRAR ADMIN-->
			<div class="modal fade" id="modalBorrarAdmin">
				<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header bg-info">
						<h1 class="m-0 bg-white p-2 rounded-4"><i class="bi bi-lightning-charge-fill m-0" style="color: rgb(0, 40, 216);"></i></h1>
						<h4 class="modal-title text-white" style="text-indent: 10px;">¿BORRAR ADMIN?</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body py-4 px-3">
						<h5 class="text-center">No puedes borrar al admin.<h5>
            			<h3 class="text-center mb-4">TIENE <span style="color: rgb(0, 40, 216);">EL PODER</span> DE LA PÁGINA.</h3>
            			<img src="../img/dukeSurfero.jpeg" th:src="@{/img/dukeSurfero.jpeg}" class="rounded-4 w-100" alt="Duke surfero">
					</div>

					<!-- Modal footer -->
					<div class="modal-footer bg-secondary p-2 d-flex justify-content-around">
						<button type="button" class="btn btn-dark w-auto" data-bs-dismiss="modal">Perdón por mi ignorancia</button>
					</div>

				</div>
				</div>
			</div>

        </main>

<!--FOOTER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<footer th:replace="~{fragmentos/footer::footer}"></footer>          

		<!--Librerías para los modal-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
				
		<script src="../js/modalBorrarCliente.js" th:src="@{/js/modalBorrarCliente.js}" defer></script>

    </body>
</html>