<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MANGAZO VERSE [Admin] | Libros > Tipos y Categorías</title>

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>

<!--HEADER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<header th:replace="~{fragmentos/header::header}"></header>

<!--ÍNDICE-------------------------------------------------------------------------------------------------------------------------------------------------->

		<div sec:authorize="hasRole('ROLE_ADMIN')">
            <nav th:replace="~{fragmentos/navAdmin::navAdmin}"></nav>
        </div>

<!--CONTENIDO----------------------------------------------------------------------------------------------------------------------------------------------->

        <main class="d-flex flex-wrap">
            <div class="container-fluid py-2 px-5 mb-4 mt-2">
                <h1 class="display-3 fw-bold fst-italic" style="font-variant: small-caps;"><span class="text-info">L</span>ibros > Tipos y Categorías</h1>
            </div>

            <!--Columna izquierda-->
            <div class="container pb-5 rounded-end-5 m-0" style="width: 12%; background-image: url(../img/fondoPagina.jpg);">
            </div>

			<!--Contenido central-->
			            <div class="container w-75 mb-2 mt-4 pb-5 pt-3 px-4">
			
			              <div class="container-fluid">
			                <div class="row pb-4 px-5 d-flex flex-row">
								
								<!--MENSAJITO DE ERROR-->
								<div class="alert alert-danger alert-dismissible fade show mb-5" th:if="${param.error}">
									<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
									<h5 class="m-0"><strong><i class="bi bi-exclamation-diamond-fill"></i></strong>&nbsp; Para borrar un tipo o una categoría estas deben estar vacías ¡No pueden tener libros asociados!</h5>
								</div>
			
			                  <!--Botón de agregar Tipos y Categorías-->
			                  <div class="container-fluid">
			                    <div class="row d-flex justify-content-between align-items-center">
			                      <div class="text-center w-50">
			                        <a type="button" href="/admin/agregarTipo" th:href="@{/admin/agregarTipo}" id="botonAgregarTipo" class="btn btn-lg mb-5 px-2 text-white" style="background-color: rgb(29, 29, 165);"><h1 class="bi bi-plus m-0"></h1></a>
			                      </div>
			                      <div class="text-center w-50">
			                        <a type="button" href="/admin/agregarCategoria" th:href="@{/admin/agregarCategoria}" id="botonAgregarCategoria" class="btn btn-lg mb-5 px-2 text-white" style="background-color: rgb(29, 29, 165);"><h1 class="bi bi-plus m-0"></h1></a>
			                      </div>
			                    </div>
			                  </div>
			
			                    <!--Tabla de Tipos-->
			                    <div class="table-responsive w-50 pe-5">
			                        <table class="table table-condensed table-hover caption-top">
			                            <caption><h1 class="text-center"><i class="bi bi-bookmark-star-fill m-0" style="color: rgb(211, 0, 106);"></i> Tipos</h1></caption>
			                            <thead>
			                                <tr class="text-center table-info align-middle">
			                                    <th class="text-white rounded-start-3 border border-0 px-3" style="background-color: #369;"><h5 class="m-0">ID</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Nombre</h5></th>
			                                    <th class="rounded-end-3 border border-0" style="background-color: #369;"></th>
			                                </tr>
			                            </thead>
			
										<tbody class="text-center align-center align-middle">
											<tr th:each="tipo : ${listaTipos}">
												<td th:text="@{${tipo.idTipo}}" class="fw-bold"></td>
												<td th:text="${tipo.nombre}"></td>
												<td class="pe-1">
													<a type="button" th:href="@{/admin/editarTipo/{id}(id=${tipo.idTipo})}" id="botonEditarTipo" class="btn btn-lg btn-secondary me-3"><i class="bi bi-gear-fill"></i></a>
													<button type="button" data-bs-toggle="modal" data-bs-target="#modalBorrarTipo" th:data-id="${tipo.idTipo}" id="botonBorrarTipo" class="btn btn-lg btn-dark"><i class="bi bi-trash3-fill"></i></button>
												</td>
											</tr>
										</tbody>
			
			                            <tfoot>
			                            </tfoot>
			                        </table>
			                    </div>
			
			                    <!--Tabla de Categorías-->
			                    <div class="table-responsive w-50 ps-5">
			                        <table class="table table-condensed table-hover caption-top">
			                            <caption><h1 class="text-center"><i class="bi bi-tag-fill m-0" style="color: rgb(140, 165, 29);"></i> Categorías</h1></caption>
			                            <thead>
			                                <tr class="text-center table-info align-middle">
			                                    <th class="text-white rounded-start-3 border border-0 px-3" style="background-color: #369;"><h5 class="m-0">ID</h5></th>
			                                    <th class="text-white  border border-0" style="background-color: #369;"><h5 class="m-0">Nombre</h5></th>
			                                    <th class="rounded-end-3 border border-0" style="background-color: #369;"></th>
			                                </tr>
			                            </thead>
			
			                            <tbody class="text-center align-center align-middle">
			                                <tr th:each="categoria : ${listaCategorias}">
			                                    <td th:text="@{${categoria.idCategoria}}" class="fw-bold"></td>
			                                    <td th:text="${categoria.nombre}"></td>
			                                    <td class="pe-1">
													<a type="button" th:href="@{/admin/editarCategoria/{id}(id=${categoria.idCategoria})}" id="botonEditarCategoria" class="btn btn-lg btn-secondary me-3"><i class="bi bi-gear-fill"></i></a>
			                                        <button type="button" data-bs-toggle="modal" data-bs-target="#modalBorrarCategoria" th:data-id="${categoria.idCategoria}" id="botonBorrarCategoria" class="btn btn-lg btn-dark"><i class="bi bi-trash3-fill"></i></button>
			                                    </td>
			                                </tr>
			                            </tbody>
			
			                            <tfoot>
			                            </tfoot>
			                        </table>
			                    </div>
			
			                </div>
			              </div>
			
			            </div>

            <!--Columna derecha-->
            <div class="container pb-5 rounded-start-5 m-0" style="width: 12%; background-image: url(../img/fondoPagina.jpg);">
            </div>
			
			<!--MODAL BORRAR TIPO-->
            <div class="modal fade" id="modalBorrarTipo">
				<div class="modal-dialog">
				  <div class="modal-content">
  
					<!-- Modal Header -->
					<div class="modal-header bg-info">
					  <h1 class="m-0 bg-white p-2 rounded-4"><i class="bi bi-bookmark-star-fill m-0" style="color: rgb(211, 0, 106);"></i></h1>
					  <h4 class="modal-title text-white" style="text-indent: 10px;">BORRAR TIPO</h4>
					  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
  
					<!-- Modal body -->
					<div class="modal-body py-4 px-3">
					  <h5>¿Está seguro de que quiere borrar este tipo de libro?</h5>
					  <span style="color: red">Tenga en cuenta que será borrado definitivamente.</span>
					</div>
  
					<!-- Modal footer -->
					<div class="modal-footer bg-secondary p-2 d-flex justify-content-around">
					  <a type="button" id="confirmarBorrado" class="btn btn-info w-25">SÍ</a>
					  <button type="button" class="btn btn-dark w-25" data-bs-dismiss="modal">NO</button>
					</div>
  
				  </div>
				</div>
			  </div>

			<!--MODAL BORRAR CATEGORÍA-->
			<div class="modal fade" id="modalBorrarCategoria">
				<div class="modal-dialog">
					<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header bg-info">
						<h1 class="m-0 bg-white p-2 rounded-4"><i class="bi bi-tag-fill m-0" style="color: rgb(140, 165, 29);"></i></h1>
						<h4 class="modal-title text-white" style="text-indent: 10px;">BORRAR CATEGORÍA</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body py-4 px-3">
						<h5>¿Está seguro de que quiere borrar esta categoría?</h5>
						<span style="color: red;">Tenga en cuenta que será borrada definitivamente.</span>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer bg-secondary p-2 d-flex justify-content-around">
						<a type="button" id="confirmarBorrado" class="btn btn-info w-25">SÍ</a>
						<button type="button" class="btn btn-dark w-25" data-bs-dismiss="modal">NO</button>
					</div>

				</div>
				</div>
			</div>

        </main>

<!--FOOTER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<footer th:replace="~{fragmentos/footer::footer}"></footer>  
		
		<!--Librerías para los modal-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
                
        <script src="../js/modalBorrarCategoria.js" th:src="@{/js/modalBorrarCategoria.js}" defer></script>
		<script src="../js/modalBorrarTipo.js" th:src="@{/js/modalBorrarTipo.js}" defer></script>

    </body>
</html>