<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MANGAZO VERSE [Admin] | Inicio</title>

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" href="../css/estiloGeneral.css" th:href="@{/css/estiloGeneral.css}">
		
        <!--BOOTSTRAP-->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      </head>
    <body>

<!--HEADER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<header th:replace="~{fragmentos/header::header}"></header>

<!--ÍNDICE-------------------------------------------------------------------------------------------------------------------------------------------------->

		<div sec:authorize="hasRole('ROLE_ADMIN')">
            <nav th:replace="~{fragmentos/navAdmin::navAdmin}"></nav>
        </div>

<!--CONTENIDO----------------------------------------------------------------------------------------------------------------------------------------------->

		<main class="d-flex flex-wrap">
            <div class="container-fluid py-2 px-5 mb-4 mt-2">
                <h1 class="display-3 fw-bold fst-italic text-center" style="font-variant: small-caps;">
                  <i class="bi bi-lightning-charge-fill" style="color:rgb(0, 40, 216)"></i>
                  ¡Bienvenido a la zona de <span class="text-info">Administrador</span>!&nbsp; <i class="bi bi-lightning-charge-fill" style="color:rgb(0, 40, 216)"></i>
                </h1>
            </div>

			<!--Columna izquierda-->
			<div class="container pb-5 rounded-end-5 m-0" style="width: 12%; background-image: url(../img/fondoPagina.jpg);">
			</div>

            <!--Contenido central-->
            <div class="container w-75 mb-2 mt-4 pb-5 pt-1 px-4">

              <div class="container-fluid">
                <div class="row pb-4 px-5 d-flex flex-row">

                  <!--Imagen graciosa-->
                  <div class="w-100 d-flex justify-content-center">
                    <img src="../img/pandaAdmin.jpg" th:src="@{../img/pandaAdmin.jpg}" class="text-center w-75 rounded-4" alt="Imagen de bienvenida al administrador">
                  </div>

                </div>
              </div>

                <h5 class="pt-4" style="text-align: center; font-style: italic;">
                  "Cada vez que veas un negocio exitoso, piensa que en algún momento alguien tomó una decisión valiente."</h5>
                <h5 class="pt-2" style="text-align: center; font-style: italic; color: rgb(140, 140, 140);">
                  - Peter Drucker, educador y consultor de gestión estadounidense.</h5>
            </div>

			<!--Columna derecha-->
			<div class="container pb-5 rounded-start-5 m-0" style="width: 12%; background-image: url(../img/fondoPagina.jpg);">
			</div>
        </main>

<!--FOOTER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<footer th:replace="~{fragmentos/footer::footer}"></footer>

    </body>
</html>
