<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MANGAZO VERSE | Página de búsqueda</title>

        <!--CSS-->
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="../css/estiloGeneral.css" th:href="@{/css/estiloGeneral.css}">

		<!--AOS JS-->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>

<!--HEADER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<header th:replace="~{fragmentos/header::header}"></header>

<!--ÍNDICE-------------------------------------------------------------------------------------------------------------------------------------------------->

		<nav th:replace="~{fragmentos/nav::nav}"></nav>

<!--CONTENIDO----------------------------------------------------------------------------------------------------------------------------------------------->

        <main class="d-flex flex-wrap container-fluid px-0">
            <!--div class="container-fluid py-2 px-5 mb-4 mt-2">
                <h1 class="display-3 fw-bold fst-italic" style="font-variant: small-caps;"><span class="text-primary">M</span>angazo Verse</h1>
            </div-->

            <!--Columna izquierda (CON EL FILTRADOR)-->
            <div class="container pb-3 m-0 me-3" style="width: 17%; background-image: url(/img/fondoPagina.jpg);">
              <div class="row d-flex justify-content-center">

                <!--Filtrador-->
                <div class="dropdown-center mt-4 text-center">
                  <button class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split w-75" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-funnel-fill"></i> Filtros &nbsp;&nbsp;</button>
                
                  <ul class="dropdown-menu dropdown-menu-dark border rounded-2" style="width: 90%;">
					
                    <!--Tipos-->
                    <li class="text-center text-white">
                      <a class="dropdown-header text-white" style="text-decoration: none; background-color: rgb(211, 0, 106);"><h4 class="my-1"><i class="bi bi-bookmark-star-fill m-0"></i> Tipos</h4></a>
                    </li>
					<li th:each="tipo : ${listaTipos}">
						<a th:text="${tipo.nombre}" th:href="@{/catalogo/tipo/{id}(id=${tipo.idTipo})}" class="dropdown-item py-2"></a>
					</li>
                    <li><a class="dropdown-item py-2 disabled" href="#"></a></li>
					
                    <!--Categorías-->
                    <li class="text-center text-white">
                      <a class="dropdown-header text-white" style="text-decoration: none; background-color: rgb(140, 165, 29);"><h4 class="my-1"><i class="bi bi-tag-fill m-0"></i> Categorías</h4></a>
                    </li>
					<li th:each="categoria : ${listaCategorias}">
						<a th:text="${categoria.nombre}" th:href="@{/catalogo/categoria/{id}(id=${categoria.idCategoria})}" class="dropdown-item py-2"></a>
					</li>
					
                  </ul>
                </div>

              </div>
            </div>

            <!--Contenido central-->
            <div class="container-fluid mb-2 mt-4 pb-5 px-0 mx-0" style="width: 81%;">

              <div class="container-fluid pe-0">
                <div class="row pb-4 px-0 d-flex flex-row justify-content-around m-0">
  
					<div th:each="libro : ${listaLibros}" class="w-auto p-0 m-0">
						<!--LIBRO DISPONIBLE-->
						<th:block th:if="${libro.stock > 0}">
							<div class="card mx-2 my-4 p-0 border border-3 border-primary shadow" data-aos="fade-up-right" id="tarjetaProducto" style="width: 216.44px;">
								<a href="#" th:href="@{/infoLibro/{id}(id=${libro.idLibro})}">
									<img class="card-img-top" th:src="${libro.imagenPortada}" alt="Imagen del libro" style="max-width:678px; height: 318.69px;">
								</a>
							    <div class="card-body pe-0">
							    	<h5 class="card-title mb-1 pe-3" th:text="${libro.titulo}" style="text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></h5>
							    	<h2 class="card-text" th:text="${#numbers.formatDecimal(libro.precio,1,2,'COMMA')}+' €'"></h2>
							    	<div class="d-flex flex-wrap align-items-center">
							        	<a href="#" class="btn btn-light me-1" style="background-color: rgb(213, 213, 213);"><i class="bi bi-suit-heart-fill text-dark"></i></a>
							        	<a href="#" class="btn btn-light me-3" style="background-color: rgb(0, 183, 255);"><i class="bi bi-bag-fill text-white"></i></a>
							        <div class="align-items-center flex-grow-1">
							        	<h6 class="text-center text-white m-0 bg-primary rounded-start-5 p-1"><i>En stock</i></h6>
							     	</div>
							   	 </div>
							   </div>
							</div>
						</th:block>
						
						<!--LIBRO AGOTADO-->
						<th:block th:if="${libro.stock == 0}">
							<div class="card mx-2 my-4 p-0 border border-3 border-secondary shadow" data-aos="fade-up-right" id="tarjetaProducto" style="width: 216.44px;">
								<a href="#" th:href="@{/infoLibro/{id}(id=${libro.idLibro})}">
									<img class="card-img-top" th:src="${libro.imagenPortada}" alt="Imagen del libro" style="max-width:678px; height: 318.69px;">
								</a>
								<div class="card-body pe-0">
									<h5 class="card-title mb-1 pe-3" th:text="${libro.titulo}" style="text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></h5>
								 	<h2 class="card-text" th:text="${#numbers.formatDecimal(libro.precio,1,2,'COMMA')}+' €'"></h2>
									<div class="d-flex flex-wrap align-items-center">
										<a href="#" class="btn btn-light me-1" style="background-color: rgb(213, 213, 213);"><i class="bi bi-suit-heart-fill text-dark"></i></a>
										<a href="#" class="btn btn-light me-3 disabled" aria-disabled="true" style="background-color: rgb(131, 220, 255);"><i class="bi bi-bag-fill text-white"></i></a>
										<div class="align-items-center flex-grow-1">
											<h6 class="text-center text-white m-0 bg-secondary rounded-start-5 p-1"><i>Agotado</i></h6>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
					
                    <div class="card mx-2 my-4 p-0 border border-3 border-primary shadow" data-aos="fade-up-right" id="tarjetaProducto" style="width: 216.44px;">
                        <img class="card-img-top" src="../static/img/bleach1.jpg" alt="Card image" style="max-width:678px; height: 318.69px;">
                        <div class="card-body pe-0">
                          <h5 class="card-title mb-1" style="text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            bleach</h5>
                          <h2 class="card-text">18.90 €</h2>
                          <div class="d-flex flex-wrap align-items-center">
                            <a href="#" class="btn btn-light me-1" style="background-color: rgb(213, 213, 213);"><i class="bi bi-suit-heart-fill text-dark"></i></a>
                            <a href="#" class="btn btn-light me-3" style="background-color: rgb(0, 183, 255);"><i class="bi bi-bag-fill text-white"></i></a>
                            <div class="align-items-center flex-grow-1">
                              <h6 class="text-center text-white m-0 bg-primary rounded-start-5 p-1"><i>En stock</i></h6>
                            </div>
                          </div>
                        </div>
                    </div>
        
                      <div class="card mx-2 my-4 p-0 border border-3 border-primary shadow" data-aos="fade-up-right" id="tarjetaProducto" style="width: 216.44px;">
                        <img class="card-img-top" src="../static/img/jjk1.jpeg" alt="Card image" style="max-width:678px; height: 318.69px;">
                        <div class="card-body pe-0">
                          <h5 class="card-title mb-1" style="text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            jujutsu kaisen</h5>
                          <h2 class="card-text">18.90 €</h2>
                          <div class="d-flex flex-wrap align-items-center">
                            <a href="#" class="btn btn-light me-1" style="background-color: rgb(246, 55, 12);"><i class="bi bi-suit-heart-fill text-white"></i></a>
                            <a href="#" class="btn btn-light me-3" style="background-color: rgb(0, 183, 255);"><i class="bi bi-bag-fill text-white"></i></a>
                            <div class="align-items-center flex-grow-1">
                              <h6 class="text-center text-white m-0 bg-primary rounded-start-5 p-1"><i>En stock</i></h6>
                            </div>
                          </div>
                        </div>
                      </div>
        
                      <div class="card mx-2 my-4 p-0 border border-3 border-secondary shadow" data-aos="fade-up-right" id="tarjetaProducto" style="width: 216.44px;">
                        <img class="card-img-top" src="../static/img/naruto1.jpg" alt="Card image" style="max-width:678px;  height: 318.69px;">
                        <div class="card-body pe-0">
                          <h5 class="card-title mb-1" style="text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            naruto</h5>
                          <h2 class="card-text">7.00 €</h2>
                          <div class="d-flex flex-wrap align-items-center">
                            <a href="#" class="btn btn-light me-1" style="background-color: rgb(213, 213, 213);"><i class="bi bi-suit-heart-fill text-dark"></i></a>
                            <a class="btn btn-light me-3 disabled" style="background-color: rgb(0, 183, 255);" aria-disabled="true"><i class="bi bi-bag-fill text-white"></i></a>
                            <div class="align-items-center flex-grow-1">
                              <h6 class="text-center text-white m-0 bg-secondary rounded-start-5 p-1"><i>Agotado</i></h6>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="card mx-2 my-4 p-0 border border-3 border-secondary shadow" data-aos="fade-up-right" id="tarjetaProducto" style="width: 216.44px;">
                        <img class="card-img-top" src="../static/img/edi1.jpg" alt="Card image" style="max-width:678px;  height: 318.69px;">
                        <div class="card-body pe-0">
                          <h5 class="card-title mb-1 pe-3" style="text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            espíritus del inframundo</h5>
                          <h2 class="card-text">7.00 €</h2>
                          <div class="d-flex flex-wrap align-items-center">
                            <a href="#" class="btn btn-light me-1" style="background-color: rgb(246, 55, 12);"><i class="bi bi-suit-heart-fill text-white"></i></a>
                            <a class="btn btn-light me-3 disabled" style="background-color: rgb(0, 183, 255);" aria-disabled="true"><i class="bi bi-bag-fill text-white"></i></a>
                            <div class="align-items-center flex-grow-1">
                              <h6 class="text-center text-white m-0 bg-secondary rounded-start-5 p-1"><i>Agotado</i></h6>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="card mx-2 my-4 p-0 border border-3 border-secondary" data-aos="fade-up-right" id="tarjetaProducto" style="width: 216.44px;">
                      <img class="card-img-top" src="../static/img/edi1.jpg" alt="Card image" style="max-width:678px;  height: 318.69px;">
                      <div class="card-body pe-0">
                        <h5 class="card-title mb-1 pe-3" style="text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                          espíritus del inframundo</h5>
                        <h2 class="card-text">7.00 €</h2>
                        <div class="d-flex flex-wrap align-items-center">
                          <a href="#" class="btn btn-light me-1" style="background-color: rgb(246, 55, 12);"><i class="bi bi-suit-heart-fill text-white"></i></a>
                          <a class="btn btn-light me-3 disabled" style="background-color: rgb(0, 183, 255);" aria-disabled="true"><i class="bi bi-bag-fill text-white"></i></a>
                          <div class="align-items-center flex-grow-1">
                            <h6 class="text-center text-white m-0 bg-secondary rounded-start-5 p-1"><i>Agotado</i></h6>
                          </div>
                        </div>
                      </div>
                  </div>
                  
                </div>
              </div>

            </div>

            <!--Columna derecha-->
            <!--div class="container pb-5 rounded-start-5 m-0" style="width: 12%; background-image: url(../static/img/fondoPagina.jpg);">
            </div-->
        </main>

<!--FOOTER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<footer th:replace="~{fragmentos/footer::footer}"></footer>

        <script>
          AOS.init();
        </script>

    </body>
</html>