<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MANGAZO VERSE | Quiénes somos</title>

        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}">

        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>

<!--HEADER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<header th:replace="~{fragmentos/header::header}"></header>

<!--ÍNDICE-------------------------------------------------------------------------------------------------------------------------------------------------->

		<div sec:authorize="hasRole('ROLE_USER')">
            <nav th:replace="~{fragmentos/navUsuario::navUsuario}"></nav>
        </div>
		
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <nav th:replace="~{fragmentos/navAdmin::navAdmin}"></nav>
        </div>
		
        <div sec:authorize="!isAuthenticated()">
            <nav th:replace="~{fragmentos/nav::nav}"></nav>
        </div>

<!--CONTENIDO----------------------------------------------------------------------------------------------------------------------------------------------->

        <main class="d-flex flex-wrap">
            <div class="container-fluid py-2 px-5 mb-4 mt-2">
                <h1 class="display-3 fw-bold fst-italic" style="font-variant: small-caps;"><span class="text-primary">Q</span>uiénes somos</h1>
            </div>

            <!--Columna izquierda-->
            <div class="container pb-5 rounded-end-5 m-0" style="width: 12%; background-image: url(../img/fondoPagina.jpg);">
            </div>

            <!--Contenido central-->
            <div class="container w-75 mb-2 mt-4 pb-5 pt-3 px-4">

              <div class="container-fluid">
                <div class="row pb-4 px-5 d-flex flex-row">
                  <div class="col-md">
                    <img src="../img/logoMarca.png" th:src="@{../img/logoMarca.png}" alt="Logo de MANGAZO VERSE" class="rounded-4">
                  </div>
                  <div class="col-md-8">
                    <p class="pt-2" style="text-align: justify;"><span class="fw-bold">MANGAZO VERSE</span>, ubicada en Bilbao, es una de las librerías especializadas en cómics y mangas más 
                      importantes de Europa, fundada por Lucas Falla Urtiaga, donde se pueden encontrar los títulos de todos los editores españoles.</p>

                    <p style="text-align: justify;">La creación de esta librería fue motivada por la idea de ofrecerle al mundo la mayor selección de 
                      libros, cuentos e historias jamás vista. Apasionados como ratones de biblioteca, todo el personal de MANGAZO VERSE siempre
                      están preparados para brindarle al cliente el mejor de los tratos.</p>
                  </div>
                </div>
              </div>

                <p class="py-2" style="text-align: justify;">Fundada en 2024, la librería ha llevado a cabo varias reformas hasta convertirse en un gran espacio de ocio de más de 
                  500 metros cuadrados repartidos en dos plantas, por las que han pasado más de 50.000 visitantes de momento. El éxito de la librería 
                  también propició la apertura de una red de tiendas franquiciadas repartidas por toda la península, aunque solo la librería de 
                  Bilbao está gestionada directamente por MANGAZO VERSE.</p>

                <p class="py-2" style="text-align: justify;">MANGAZO VERSE está protagonizada por cuatro áreas bien diferenciadas, dedicadas al cómic, la literatura europea, el manga japonés y el manga coreano. 
                  A su alrededor, también encontramos secciones de cómic infantil, libros ilustrados e incluso secciones para adultos. La librería también organiza 
                  multitud de promociones y ofertas.</p>

                <p class="py-2" style="text-align: justify;">Sin duda, se trata de un templo para todos los amantes de la cultura popular, donde cada día se reciben productos nuevos y donde todos encuentran 
                  un espacio a su medida. Los amantes del cómic también valoran especialmente el amplísimo surtido de cómics atrasados y el servicio de pedidos a la 
                  carta.</p>

                <p class="py-2" style="text-align: justify;">Otro paso importante para MANGAZO VERSE fue la apertura de su tienda online, que ya es toda 
                  una referencia en la venta de cómics y mangas en la red. Este 2024 la tienda ha experimentado una completa renovación, con un sistema de 
                  personalización adaptado a cada usuario y un sistema de fidelización propio para que aquellos usuarios que se registren disfruten de 
                  ventajas únicas, como la de canjeo de puntos, obtenidos por cada compra (Todo ello el mismo año de su apertura, vaya que sí). Esta tienda online 
                  está gestionada por el propio equipo de la librería, por lo que su fiabilidad y rapidez están garantizadas.</p>

                <p class="py-2" style="text-align: justify;">El último logro, del que estamos especialmente orgullosos, ha sido el haber ganado el premio Eisner (Will Eisner Spirit of Comics 
                  Retailer Award) a la mejor tienda de cómics de este 2024 ¡Y eso sin siquiera haber acabado el año! Calidad indudable.</p>

                <h5 class="pt-4" style="text-align: center;">Y por todo ello somos ¡TU LIBRERÍA ON-LINE DE CONFIANZA!</h5>
            </div>

            <!--Columna derecha-->
            <div class="container pb-5 rounded-start-5 m-0" style="width: 12%; background-image: url(../img/fondoPagina.jpg);">
            </div>
        </main>

<!--FOOTER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<footer th:replace="~{fragmentos/footer::footer}"></footer>          

    </body>
</html>