<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MANGAZO VERSE | Regístrate</title>

        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="../css/estiloGeneral.css" th:href="@{../css/estiloGeneral.css}">

		<!--JS-->
		<script src="../js/pagRegistro.js" th:src="@{/js/pagRegistro.js}" defer></script>
		
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>

<!--HEADER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<header th:replace="~{fragmentos/header::header}"></header>

<!--ÍNDICE-------------------------------------------------------------------------------------------------------------------------------------------------->

        <div sec:authorize="!isAuthenticated()">
            <nav th:replace="~{fragmentos/nav::nav}"></nav>
        </div>

<!--CONTENIDO----------------------------------------------------------------------------------------------------------------------------------------------->

        <main class="d-flex flex-wrap">
            <div class="container-fluid py-2 px-5 mb-4 mt-2">
                <h1 class="display-3 fw-bold fst-italic" style="font-variant: small-caps;"><span class="text-primary">R</span>egístrate</h1>
            </div>

            <!--Columna izquierda-->
            <div class="container pb-5 rounded-end-5 m-0" style="width: 12%; background-image: url(../img/fondoPagina.jpg);">
            </div>

            <div class="container w-75 mb-2 mt-4 pb-5 pt-3">
				
				<!--MENSAJITO DE ERROR-->
				<div class="alert alert-danger alert-dismissible fade show mb-5 mx-4" th:if="${param.error}">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					<h5 class="m-0"><strong><i class="bi bi-exclamation-diamond-fill"></i></strong>&nbsp; El nombre de usuario introducido no está disponible, ya pertenece a otro usuario ¡Intoduzca sus datos de nuevo teniéndolo en cuenta!</h5>
				</div>
				
				<!--Formulario-->
                <form th:action="@{/registro/submit}" th:object="${usuario}" method="post" name="formularioReg" id="formularioReg">

					<input th:if="${usuario.idUsuario != 0}" type="hidden" name="idReg" th:field="*{idUsuario}"/>
					<input th:if="${usuario.idUsuario != 0}" th:value="${usuario.numPuntosHon==0}" type="hidden" name="puntosHonReg" th:field="*{numPuntosHon}"/>
					
                    <!--Nombre y apellidos-->
                    <fieldset class="pb-2 pt-3">
                        <div class="row mb-3">
                            <div class="col mb-3 mx-4">
                                <label for="nombreReg"><h5>Nombre <span class="text-danger">*</h5></span></label>
                                <input type="text" th:field="*{nombre}" class="form-control bg-secondary bg-opacity-25" maxlength="255" id="nombreReg" placeholder="Introduzca su nombre" name="nombreReg" required>
                            </div>
                            <div class="col mb-3 mx-4">
                                <label for="apellidosReg"><h5>Apellidos <span class="text-danger">*</h5></span></label>
                                <input type="text" th:field="*{apellidos}" class="form-control bg-secondary bg-opacity-25" maxlength="255" id="apellidosReg" placeholder="Introduzca sus apellidos" name="apellidosReg" required>
                            </div>
                        </div>
                    </fieldset>

                    <!--Nombre de usuario y Correo electrónico-->
                    <fieldset class="py-2">
                      <div class="row mb-3">
                        <div class="col mb-3 mx-4">
                          <label for="nombreUsuarioReg" class="form-label p-0 m-0"><h5>Nombre de usuario <span class="text-danger">*</h5></span></label>
                          <input type="text" th:field="*{username}" class="form-control bg-secondary bg-opacity-25" maxlength="255" id="nombreUsuarioReg" placeholder="Introduzca su nombre de usuario" name="nombreUsuarioReg" required>
                        </div>
                        <div class="col mb-3 mx-4">
                          <label for="emailReg" class="form-label p-0 m-0"><h5>Email <span class="text-danger">*</h5></span></label>
                          <input type="email" th:field="*{correo}" class="form-control bg-secondary bg-opacity-25" id="emailReg" placeholder="Introduzca su correo electrónico" name="emailReg" required>
                        </div>
                      </div>
                    </fieldset>

                    <!--Contraseña y Repetir contraseña-->
                    <fieldset class="py-2">
                      <div class="row">
                          <div class="col mb-3 mx-4">
                              <label for="contrasenha1Reg"><h5>Contraseña <span class="text-danger">*</h5></span></label>
                              <input type="password" th:field="*{password}" class="form-control bg-secondary bg-opacity-25" maxlength="255" id="contrasenha1Reg" placeholder="Introduzca su contraseña" name="contrasenha1Reg" required>
                              <i class="w-25">Seguridad: </i><span id="segContrasenhaReg" class="segContra">0%</span>
                          </div>
                          <!--div class="col mb-3 mx-4">
                              <label for="contrasenha2Reg"><h5>Repetir contraseña <span class="text-danger">*</h5></span></label>
                              <input type="password" class="form-control bg-secondary bg-opacity-25" id="contrasenha2Reg" placeholder="Repita su contraseña" name="contrasenha2Reg" required>
                          </div-->
                      </div>
                    </fieldset>
					
					<!--Imagen y Texto alternativo de la imagen-->
					<fieldset class="py-2">
						<div class="row mb-3">
							<div class="col mb-3 mx-4">
								<label for="imagenClienteReg" class="form-label p-0 m-0"><h5>Imagen de perfil <span class="text-danger">*</h5></span></label>
								<input type="text" th:field="*{imagen}" class="form-control bg-secondary bg-opacity-25" maxlength="255" id="imagenClienteReg" placeholder="Introduzca la URL de tu imagen de perfil" name="imagenClienteReg" required>
							</div>
							<div class="col mb-3 mx-4">
								<label for="txtAltImgReg" class="form-label p-0 m-0"><h5>Texto alternativo de la imagen de perfil <span class="text-danger">*</h5></span></label>
								<input type="text" th:field="*{textoAltImagen}" class="form-control bg-secondary bg-opacity-25" maxlength="255" id="txtAltImgReg" placeholder="Describa que aparece en su imagen de perfil" name="txtAltImgReg" required>
							</div>
						</div>
					</fieldset>

                    <!--Checkbox política de privacidad-->
                    <fieldset class="py-2">
                      <div class="form-check mb-3 mx-4">
                        <label class="form-check-label">
                          <input class="form-check-input border border-1 border-dark" type="checkbox" name="remember" required><h6 class="mt-1">He leído y aceptado la
                            <a class="text-info" style="text-decoration: none;" th:href="@{/politicaDePrivacidad}" href="pagPoliticaDePrivacidad.html"><i>Política de Privacidad</i></a><span class="text-danger"> *</span></h6>
                        </label>
                      </div>
                    </fieldset>

                    <!--Botón de registro-->
                    <div class="row w-100 d-flex justify-content-center mt-4">
                      <button type="submit" id="submitReg" class="w-25 btn btn-lg btn-primary"><h4>Registrarse</h4></button>
                    </div>
                </form>
            </div>

            <!--Columna derecha-->
            <div class="container pb-5 rounded-start-5 m-0" style="width: 12%; background-image: url(../img/fondoPagina.jpg);">
            </div>

            <!--MODAL USUARIO REGISTRADO-->
            <div class="modal fade" id="modalUsuarioRegistrado">
              <div class="modal-dialog">
                <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header bg-success">
                  <h1 class="m-0 bg-white p-2 rounded-4"><i class="bi bi-check-lg m-0" style="color: rgb(0, 222, 0);"></i></h1>
                  <h4 class="modal-title text-white" style="text-indent: 10px;">USUARIO REGISTRADO</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body py-4 px-3" style="text-align: justify; background-color: rgb(250, 250, 250);">
                  <h5>El usuario se ha registrado correctamente, disfrute de su cuenta ¡Y de la tienda!</h5>
                  <span class="text-success">Ahora podrá marcar los libros como "favoritos" y comprar productos.</span>
				  <img src="../img/tioEmocionado.jpg" th:src="@{/img/tioEmocionado.jpg}" class="rounded-4 w-100 mt-4" alt="Hombre emocionado">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer bg-secondary p-2 d-flex justify-content-around">
                  <a type="button" th:href="@{/login}" id="confirmarBorrado" class="btn btn-dark w-auto">Volver a la página de registro</a>
                </div>

                </div>
                </div>
              </div>

        </main>

<!--FOOTER-------------------------------------------------------------------------------------------------------------------------------------------------->

		<footer th:replace="~{fragmentos/footer::footer}"></footer>   
    
    <!--Librerías para los modal-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
            
    <script src="../js/modalUsuarioRegistrado.js" th:src="@{/js/modalUsuarioRegistrado.js}" defer></script>

    </body>
</html>