<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MANGAZO VERSE | Regístrate</title>

        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/estiloGeneral.css">

        <!--JS-->
        <script src="../static/js/pagRegistro.js" defer></script>

        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>

<!--HEADER-------------------------------------------------------------------------------------------------------------------------------------------------->

        <header class="bg-primary text-white text-center">
          <div class="container-fluid p-0">
              <img src="../static/img/bannerMarca.png" style="width:100%;" alt="Banner de MANGAZO VERSE">
          </div>
        </header>

<!--ÍNDICE-------------------------------------------------------------------------------------------------------------------------------------------------->

        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top py-3">
          <div class="container-fluid d-flex justify-content-around">
            <!--Logo-->
            <div>
              <a class="navbar-brand ps-3" href="pagInicio.html"><img src="../static/img/logoMarca.png" alt="Logo de MANGAZO VERSE" style="width:50px;" class="rounded-pill"></a>
            </div>
            <!--Barra de búsqueda e icono de lupa-->
            <div class="col-md-5 mx-2">
              <form class="d-flex pe-3 flex-grow-1 ps-3">
                <input class="form-control me-1" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button"><i class="bi bi-search"></i></button>
              </form>
            </div>
            <!--Botón menú desplegable (para dispositivos móviles)-->
            <div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barraInicio">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <!--<div>--> <!--Si quieres que el "justify-around" se aplique a los nav-items sólo tienes que activar el div situado a la izquierda de este comentario. Eso si, el desplegable se moverá un poco.-->
              <div class="collapse navbar-collapse" id="barraInicio">
                <ul class="navbar-nav me-auto text-center align-items-center flex-md-row">
                  <li class="nav-item mx-3">
                    <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#modalIniciarSesion"><i class="bi bi-person-fill text-light" style="font-size: 25px;"></i> Usuario</a>
                  </li>
                  <li class="nav-item mx-3">
                    <a class="nav-link" href=""><i class="bi bi-bag-fill text-success" style="font-size: 25px;"></i> Cesta</a>
                  </li>
                  <li class="nav-item mx-3"> 
                    <a class="nav-link" href=""><i class="bi bi-suit-heart-fill text-danger" style="font-size: 25px;"></i> Favoritos</a>
                  </li>
                </ul>
              </div>
            <!--</div>-->
          </div>
        </nav>

        <!--Inicio de sesión (al clickar en "Usuario")-->
        <div class="modal fade" id="modalIniciarSesion" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-md">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header bg-primary">
                <h4 class="modal-title text-white">INICIAR SESIÓN</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body p-0">
                <form action="">
                  <div class="m-4">
                    <label for="email" class="form-label mb-1">Email</label>
                    <input type="email" class="form-control bg-secondary bg-opacity-25" id="emailIni" placeholder="Introduzca su correo electrónico" name="email">
                  </div>
                  <div class="mb-4 mx-4">
                    <label for="pwd" class="form-label mb-1">Contraseña</label>
                    <input type="password" class="form-control bg-secondary bg-opacity-25" id="contrasenhaIni" placeholder="Introduzca su contraseña" name="pwd">
                  </div>
                  <div class="w-100 d-flex justify-content-center bg-secondary pt-3">
                    <button type="submit" id="submitIni" class="w-75 btn btn-lg btn-primary" data-bs-dismiss="modal">Iniciar sesión</button>
                  </div>
                </form>
              </div>
              
              <!-- Modal footer -->
                <div class="modal-footer bg-secondary d-flex justify-content-center flex-column w-100 p-16 border border-0">
                  <div class="row">
                    <h6 class="text-light text-center">¿No tienes una cuenta?</h6>
                    <a type="button" href="pagRegistro.html" id="botonReg" class="btn btn-lg btn-dark">Regístrate</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<!--CONTENIDO----------------------------------------------------------------------------------------------------------------------------------------------->

        <main class="d-flex flex-wrap">
            <div class="container-fluid py-2 px-5 mb-4 mt-2">
                <h1 class="display-3 fw-bold fst-italic" style="font-variant: small-caps;"><span class="text-primary">R</span>egístrate</h1>
            </div>

            <!--Columna izquierda-->
            <div class="container pb-5 rounded-end-5 m-0" style="width: 12%; background-image: url(../static/img/fondoPagina.jpg);">
            </div>

            <!--Formulario-->
            <div class="container w-75 mb-2 mt-4 pb-5 pt-3">
                <form action="" name="formularioReg" id="formularioReg">

                    <!--Nombre y apellidos-->
                    <fieldset class="pb-2 pt-3">
                        <div class="row mb-3">
                            <div class="col mb-3 mx-4">
                                <label for="nombreReg"><h5>Nombre <span class="text-danger">*</h5></span></label>
                                <input type="text" class="form-control bg-secondary bg-opacity-25" id="nombreReg" placeholder="Introduzca su nombre" name="nombreReg" required>
                            </div>
                            <div class="col mb-3 mx-4">
                                <label for="apellidosReg"><h5>Apellidos <span class="text-danger">*</h5></span></label>
                                <input type="text" class="form-control bg-secondary bg-opacity-25" id="apellidosReg" placeholder="Introduzca sus apellidos" name="apellidosReg" required>
                            </div>
                        </div>
                    </fieldset>

                    <!--Nombre de usuario y Correo electrónico-->
                    <fieldset class="py-2">
                      <div class="row mb-3">
                        <div class="col mb-3 mx-4">
                          <label for="nombreUsuarioReg" class="form-label p-0 m-0"><h5>Nombre de usuario <span class="text-danger">*</h5></span></label>
                          <input type="text" class="form-control bg-secondary bg-opacity-25" id="nombreUsuarioReg" placeholder="Introduzca su nombre de usuario" name="nombreUsuarioReg" required>
                        </div>
                        <div class="col mb-3 mx-4">
                          <label for="emailReg" class="form-label p-0 m-0"><h5>Email <span class="text-danger">*</h5></span></label>
                          <input type="email" class="form-control bg-secondary bg-opacity-25" id="emailReg" placeholder="Introduzca su correo electrónico" name="emailReg" required>
                        </div>
                      </div>
                    </fieldset>

                    <!--Contraseña y Repetir contraseña-->
                    <fieldset class="py-2">
                      <div class="row">
                          <div class="col mb-3 mx-4">
                              <label for="contrasenha1Reg"><h5>Contraseña <span class="text-danger">*</h5></span></label>
                              <input type="password" class="form-control bg-secondary bg-opacity-25" id="contrasenha1Reg" placeholder="Introduzca su contraseña" name="contrasenha1Reg" required>
                              <i class="w-25">Seguridad: </i><span id="segContrasenhaReg" class="segContra">0%</span>
                          </div>
                          <div class="col mb-3 mx-4">
                              <label for="contrasenha2Reg"><h5>Repetir contraseña <span class="text-danger">*</h5></span></label>
                              <input type="password" class="form-control bg-secondary bg-opacity-25" id="contrasenha2Reg" placeholder="Repita su contraseña" name="contrasenha2Reg" required>
                          </div>
                      </div>
                    </fieldset>

                    <!--Checkbox política de privacidad-->
                    <fieldset class="py-2">
                      <div class="form-check mb-3 mx-4">
                        <label class="form-check-label">
                          <input class="form-check-input border border-1 border-dark" type="checkbox" name="remember" required><h6 class="mt-1">He leído y aceptado la
                            <a class="text-info" style="text-decoration: none;" href="pagPoliticaDePrivacidad.html"><i>Política de Privacidad</i></a><span class="text-danger"> *</span></h6>
                        </label>
                      </div>
                    </fieldset>

                    <!--Botón de registro-->
                    <div class="row w-100 d-flex justify-content-center mt-4">
                      <button type="submit" id="submitReg" class="w-25 btn btn-lg btn-primary" data-bs-dismiss="modal"><h4>Registrarse</h4></button>
                    </div>
                </form>
            </div>

            <!--Columna derecha-->
            <div class="container pb-5 rounded-start-5 m-0" style="width: 12%; background-image: url(../static/img/fondoPagina.jpg);">
            </div>
        </main>

<!--FOOTER-------------------------------------------------------------------------------------------------------------------------------------------------->

          <div class="container-fluid p-0">
            <footer class="text-center text-lg-start text-white bg-dark">

              <!--Redes sociales-->
              <section class="d-flex justify-content-between p-3 bg-primary">
                <div class="me-5">
                  <h5 class="mb-0">¡Síguenos en nuestras redes sociales para estar al tanto de lo último!</h5>
                </div>

                <div>
                  <a href="https://www.facebook.com/" target="_blank" class="text-white me-4"><i class="bi bi-facebook" style="font-size: 20px;"></i></a>
                  <a href="https://twitter.com/" target="_blank" class="text-white me-4"><i class="bi bi-twitter-x" style="font-size: 20px;"></i></a>
                  <a href="https://www.tiktok.com/" target="_blank" class="text-white me-4"><i class="bi bi-tiktok" style="font-size: 20px;"></i></a>
                  <a href="https://www.instagram.com/" target="_blank" class="text-white me-4"><i class="bi bi-instagram" style="font-size: 20px;"></i></a>
                  <a href="https://es.linkedin.com/" target="_blank" class="text-white me-4"><i class="bi bi-linkedin" style="font-size: 20px;"></i></a>
                  <a href="https://www.youtube.com/" target="_blank" class="text-white me-4"><i class="bi bi-youtube" style="font-size: 20px;"></i></a>
                </div>
              </section>

              <!--Secciones en columna-->
              <section>
                <div class="container text-center text-md-start mt-4">
                  <div class="row mt-3">

                    <!--1ª columna-->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-3">
                      <h4 class="text-uppercase fw-bold">Mangazo Verse</h4>
                      <hr class="mb-4 mt-0 d-inline-block mx-auto bg-primary text-primary" style="width: 60px; height: 5px"/>
                      <p>MANGAZO VERSE, ubicada en Bilbao, es una de las librerías especializadas en cómics y manga japonés y coreano más importantes de Europa, 
                        donde se pueden encontrar los títulos de todas las mejores editoriales españolas.</p>
                    </div>

                    <!--2ª columna-->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-3">
                      <h4 class="text-uppercase fw-bold">Libros</h4>
                      <hr class="mb-4 mt-0 d-inline-block mx-auto bg-primary text-primary" style="width: 60px; height: 5px"/>
                      <p>Vendemos libros de todos los géneros, y además para todas las edades ¡La lectura está asegurada tanto para los más grandes 
                        como para los más pequeños!</p>
                    </div>

                    <!--3ª columna-->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-3">
                      <h4 class="text-uppercase fw-bold">Sobre nosotros</h4>
                      <hr class="mb-4 mt-0 d-inline-block mx-auto bg-primary text-primary" style="width: 60px; height: 5px"/>
                      <p><a href="pagQuienesSomos.html" class="text-white">Quiénes somos</a></p>
                      <p><a href="pagCondicionesDeUso.html" class="text-white">Condiciones de uso</a></p>
                      <p><a href="pagPoliticaDePrivacidad.html" class="text-white">Política de privacidad</a></p>
                      <p><a href="pagAyuda.html" class="text-white">Ayuda</a></p>
                    </div>

                    <!--4ª columna-->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3">
                      <h4 class="text-uppercase fw-bold">Contacto</h4>
                      <hr class="mb-4 mt-0 d-inline-block mx-auto bg-primary text-primary" style="width: 60px; height: 5px"/>
                      <p><i class="bi bi-home mr-3"></i> C/ Monte Aldamiz 8.</p>
                      <p><i class="fas fa-home mr-3"></i> 48001 - Bilbao, España.</p>
                      <p><i class="fas fa-envelope mr-3"></i> info@mangazoverse.com</p>
                      <p><i class="fas fa-phone mr-3"></i> + 34 719 221 959</p>
                    </div>

                  </div>
                </div>
              </section>

              <!--Copyright-->
              <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2024 Copyright: <span class="fw-bold">MANGAZO VERSE</span>. Todos los derechos reservados.
              </div>

            </footer>
          </div>
    </body>
</html>